body{
    margin:0;
    padding:0;
    font-family: ' Impact', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.parent{
    background: #faf6cf;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(50, 15, 250, 0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

}

.calc-container{
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 350px;
}

.calc-screen{
    font-family: ' Impact', sans-serif;
    width: 75%;
    height: 70px;
    background-color: #e4f1fc;
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
 
}

.calc-body{
    width: 100%;
}

.row{
    display: flex;
}

button{
    font-family: 'Mochiy Pop P One', sans-serif;
    height: 50px;
    background-color: #297F87;
    margin: 5px 5px;
    font-size: 20px;
    color: #ffffff;
    width: 25%;
    border-radius: 10%;
    box-sizing: border-box;
    border: none;
    font-weight: 700;
    
}

.delete_input{
    background-color: #DF2E2E;
    height: 40px;
    width: 70px;
    font-size: 20px;
    padding: 0 10x;
    padding-bottom: 2px;
    color: rgb(0, 0, 0); 
    border: none;
    font-weight: 700;
}

.equal-sign{
    width: 50%;
}

.equal-sign, .operator, .delete{
    background-color: #ff6f0f;
}

.all-clear{
    background-color: #DF2E2E;
}

button:hover{
    background-color: rgb(109, 99, 99);
    cursor: pointer;
}

.delete_input:hover{
    background-color: #ffae00;
    cursor: pointer;
}

.equal-sign:hover, .operator:hover{
    background-color:  rgb(121, 121, 121);
    ;
    cursor: pointer;
}

.all-clear:hover{
    background-color: #ffae00;
    cursor: pointer;
}

.copyright{
    font-size: 7px;
    color: #020202;
    margin-top: 10px;
}